<style>
    .titulos{
        background-color: blue;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
        height: 600px;
    
    }

    .parrafo{
        background-color: yellow;
        height: 100px;

    }

</style>